.profile__edit-button {
    background: url(../../../images/bottons/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 932px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}
