.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 932px) {
  .profile__info {
    align-items: center;
    width: 282px;
  }
}
