.profile__add-button {
  padding: 0;
  width: 100%;
  max-width: 150px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
  border: 2px solid white;
  background-color: transparent;
}
.profile__add-button::before,
.profile__add-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: white;
  content: "";
}

.profile__add-button::before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.profile__add-button::after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1044px) {
  .profile__add-button {
    max-width: 282px;
    margin-top: 36px;
  }
}
