.profile__info-subtitle {
  max-width: 350px;
  margin: 0;
  padding-top: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 932px) {
  .profile__info-subtitle {
    max-width: 200px;
    padding-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
