.profile__avatar_edit-btn {
    height: 30px;
    background: transparent;
    position: absolute;
    z-index: -1;
    top: 47px;
    left: 47px;
}
@media screen and (max-width: 932px) {
    .profile__avatar_edit-btn {
        width: 70%;
    }
}
